 * {
	margin: 0;
	padding: 0;
	 box-sizing: border-box;
}
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 187;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 90% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}
html, body{
	
	position: relative;
}

#header{
	position: fixed;
	top: 0;
  	left: 0;
  	z-index: 100;
	width: 100%;
}


#header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 11rem;
	width: 100%;
	height: 5rem;
	
	
	background:var(--base-color);
}
#header.scroll nav, #header.scroll nav h1 span{
  background: #fff; 	
  color: var(--base-color);
}
#header nav h1 {
	color: #000;
	margin-left: 1rem;
	font-size:3rem;
}
#header nav h1 span{
	color: #fff;
}

#header nav label.search{
	
	position: relative;
	
}
#header nav label.search a:link{
	color: black;
}

#header nav label.search a span{
	position: absolute;
	right: 0.1rem;
	color: black;
	top: 0.5rem;
}
#header nav label.search input{
	border: none;
	border-radius: 1rem;
	padding-right: 2rem;
	padding-left: 1rem;
	height: 2.5rem;
	width: 22rem;
} 
#header nav label.search input::placeholder{
	margin-left: 2rem;
	font-size: 1rem;
}
#header nav label.search input:focus{
	box-shadow: 0 0 0 0;
    outline: 0;
}

#header nav label {
	margin-right: 0.5rem;
}
#header nav label.user {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#header nav label.user span{
	font-size: 2rem;
}
#header nav label.user a{
	font-size: 1rem;
	color: black;
}
#header nav label#car span{
	font-size: 2rem;
}
#header nav label#car  a span{
	text-decoration: none;
	color: black;
}
#header nav label#car span#cont-itens-car{
	font-size: 1rem;
}

div#container{
	min-height: 100vh;
	width: 100%;
	
}

#content-cartao{
  width: 30rem;
  height: 14rem;
  border-radius: 1rem;
  background-color: rgb(143, 13, 182);
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;

  padding-top: 2rem;
  padding-bottom: 2rem;
}

#content-cartao .tarja-branca{
  background-color: rgb(255, 255, 255);
  height: 4rem;
}

#content-cartao .dados{
  display: flex;
  flex-direction: column;
 
}
#content-cartao .dados .numero{
  width: 100%;
  margin-left: 1rem;
}
#content-cartao .dados .numero p{
  font-size: 1.5rem;
  color: white;
}
#content-cartao .dados .sub-dados{
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}
#content-cartao .dados .sub-dados span{
  color: white;
}

footer{
	
	background: var(--base-color);
	width: 100%;
	height: 10rem;
	z-index:0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap:10rem;
}
footer div.footer-left h1{
	color: #fff;
	font-size: 2rem;
}
footer div.footer-left h1 span{
	color:black ;
	font-size: 1.8rem;
}
footer div.footer-left p{
	font-size:1rem;
}
footer div.footer-right{
	display: flex;
	gap: 1rem;
}
footer div.footer-right span a img{
	width: 2rem;
	
}
