 * {
	margin: 0;
	padding: 0;
	 box-sizing: border-box;
}
:root {
  --header-height: 4.5rem;

  /* colors */
  --hue: 187;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 90% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}
header nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 4rem;
	width: 100%;
	height: 3rem;
	background:var(--base-color-second);
}
header nav h1 {
	color: #000;
	margin-left: 1rem;
}
header nav h1 span{
	color: var(--base-color);
}

header nav label.search{
	
	position: relative;
	
}
header nav label.search a:link{
	color: black;
}

header nav label.search a span{
	position: absolute;
	right: 0.1rem;
	color: black;
}
header nav label.search input{
	border: 0.05rem solid black;
	border-radius: 0.2rem;
	padding-right: 2rem;
	height: 1.5rem;
} 
header nav label {
	margin-right: 0.5rem;
}
header nav label#user {
	display: flex;
	flex-direction: column;
	align-items: center;
}
header nav label#user a{
	font-size: 0.5rem;
	color: black;
}
